@media only screen and (max-width: 500px) and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .item2 {
    min-height: 22%;
  }
}

@media only screen and (max-width: 425px) {
  .content {
    display: flex;
    flex-direction: column;
  }

    .header-slogan {
    font-size: 1.25rem;
  }

  .secondary-text {
    font-size: 0.9375rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .item h3 {
    font-size: 1.125rem;
  }

  .item3 ul {
    font-size: 0.875rem;
  }

  .deal-text {
    font-size: 1.2rem;
  }

  .button {
    width: 18rem;
  }
}
