html {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6eff5;
  font-family: Karla;
  font-size: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
}

.secondary-text {
  color: #c0df33;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 400;
  font-size: 2rem;
}

.description {
  color: #9aa7be;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  color: #ffffff;
  font-size: 2rem;
}

.price-text {
  font-size: 3rem;
}

.sub-text {
  margin-left: 10px;
  font-weight: 400;
}

/* .button {
  box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.24);
  background-color: #c0df33;
  color: #ffffff;
  cursor: pointer; 
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.5rem;
} */