*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e6eff5;
  min-height: 100vh;
  font-family: Karla;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  /* max-width: 40.3rem; */
}

.item1 {
  background-color: #FFFFFF;
  padding: 2rem;
}

.item2 {
  background-color: #2AB3B1;
}

.item3 {
  background-color: #35d8d6;
}

.header-slogan {
  font-size: 1.5rem;
  color: #2AB3B1;
}

.secondary-text {
  font-size: 1.13rem;
  color: #C0DF33;
}

.description {
  color: #9AA7BE;
  line-height: 2;
}